<%- cache(teaser) do -%>
  <%= element_view_for(teaser) do |el| -%>
    <div class="link">
      <%= el.render :link %>
    </div>
    <div class="image">
      <%= el.render :image %>
    </div>
    <div class="super_title">
      <%= el.render :super_title %>
    </div>
    <div class="title">
      <%= el.render :title %>
    </div>
    <div class="body">
      <%= el.render :body %>
    </div>
  <%- end -%>
<%- end -%>
